.about_wrapper {
  background-color: #145026;
  color: white;
  padding: 10rem 0 0;
  @media (max-width: 575.98px) {
    padding: 4rem 0;
  }
  .hero {
    display: flex;
    gap: 1rem;
    padding-inline: 3rem;
    @media (max-width: 575.98px) {
      flex-direction: column;
      padding-inline: 1rem;
    }
    &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      &__title {
        font-size: 3.5rem;
        @media (max-width: 575.98px) {
          font-size: 1.5rem;
        }
      }
      &__desc {
        font-size: 1.4rem;
        font-weight: 100;
        line-height: 1.3;
        @media (max-width: 575.98px) {
          font-size: 1rem;
        }
      }
    }
    &__img {
      flex: 1;
      @media (max-width: 575.98px) {
        flex: auto;
      }
      img {
        width: 100%;
        max-height: 700px;
        object-fit: contain;
        @media (max-width: 575.98px) {
          max-height: 400px;
        }
      }
    }
  }
  &__founded {
    padding-inline: 3rem;
    margin-block: 5rem;
    @media (max-width: 575.98px) {
      margin-top: 2rem;
      padding-inline: 1rem;
      padding-top: 1rem;
    }
    p {
      font-size: 1.4rem;
      font-weight: 100;
      @media (max-width: 575.98px) {
        font-size: 1rem;
      }
    }
  }

  .akbar_brand {
    padding-inline: 3rem;
    @media (max-width: 575.98px) {
      padding-inline: 1rem;
    }
    .title {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 3rem;
      @media (max-width: 575.98px) {
        font-size: 1.5rem;
      }
    }
    &__content {
      display: flex;
      gap: 3rem;
      align-items: flex-start;
      @media (max-width: 575.98px) {
        gap: 1rem;
      }
      &__img {
        flex: 0.4;
        background-color: white;
        padding: 1rem;
        position: sticky;
        top: 100px;
        img {
          width: 100%;
          height: auto;
        }
      }
      &__tabs {
        flex: 1;
        display: flex;
        flex-direction: column;
        &__tab {
          border-top: 1px solid white;
          border-bottom: 1px solid white;
          display: flex;
          justify-content: space-between;
          padding: 1rem;
          @media (max-width: 575.98px) {
            padding-inline: 1rem;
          }
          &:hover {
            background-color: white;
            color: #145026;
          }
          &__text {
            p {
              font-size: 1.2rem;
              font-weight: 300;
              @media (max-width: 575.98px) {
                font-size: 0.8rem;
              }
            }
          }
          &__date {
            font-weight: 600;
            @media (max-width: 575.98px) {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

.akbar-brand-dates {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  font-size: 16px;
}
.akbar-brand-title {
  text-align: center;
}
.dates-numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.white-date {
  background-color: var(--main-white);
  color: #145026;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
}
.date-stage {
  padding: 10px 20px;
  line-height: 0.5rem;
}
.white-line {
  border-bottom: 1px solid white;
  color: #dcdcdc;
}
.ceylon_tea {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  background-color: #f9f8f4;
  justify-content: center;
  align-items: center;
  color: #151515;

  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f8f4;
    padding: 5rem 3rem 3rem;
    gap: 25px;
    @media (max-width: 575.98px) {
      padding: 1rem;
      flex-direction: column;
    }
    &__text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      h3 {
        font-weight: 800;
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
  &__bg {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }
  &__brief {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 2rem;
    @media (max-width: 575.98px) {
      padding: 1rem;
    }
    &__body {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      background-color: #f9f8f4;
      gap: 2rem;
      @media (max-width: 575.98px) {
        flex-direction: column;
        align-items: center;
      }
      &__img {
        padding: 20px 0px;
        width: 250px;
      }
      &__history {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .persons {
          width: 100%;
        }
      }
    }
  }
  .kenyan_tea {
    padding-top: 30px;
    h3 {
      margin-bottom: 1rem;
      font-weight: 800;
      font-size: 40px;
    }
    p {
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 1.3;
    }
  }
}
.farmers {
  width: 100%;
  display: flex;

  img {
    width: 100%;
    height: auto;
  }
}
