.hero {
  color: white;
  min-height: 100vh;
  padding: 4rem 3rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('../../public/images/content-pixie-m-gqDRzbJLQ-unsplash\ \(1\).png');

  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  @media (max-width: 575.98px) {
    padding: 1rem;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }
  &__body {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    width: 100%;
    @media (max-width: 575.98px) {
      flex-direction: column;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      flex: 1;
      &__title {
        font-size: 4rem;
        font-weight: 800;
        max-width: 70vw;
        @media (max-width: 575.98px) {
          font-size: 1rem;
          max-width: 100%;
        }
      }
      &__desc {
        font-size: 1.5rem;
        font-weight: 100;
        max-width: 50vw;
        @media (max-width: 575.98px) {
          max-width: 100%;
          font-size: 1rem;
        }
      }
      &__cta {
        border: 1px solid white;
        padding: 0.6rem 2.5rem;
        font-size: 1.2rem;
        @media (max-width: 575.98px) {
          font-size: 1rem;
        }
      }
    }
    &__img {
      position: relative;
      @media (max-width: 575.98px) {
        text-align: center;
      }
    }
  }
}
