.contact_us {
  display: flex;
  gap: 2rem;
  padding: 10rem 2.5rem 5rem;
  input,
  textarea {
    font-size: 1rem;
    font-weight: 200;
    font-family: inherit;
    padding: 1rem 0;
    border: none;
    border-bottom: 1px solid #145026;
    background-color: transparent;
    &::placeholder {
      color: #145026;
    }
    &:focus {
      outline: none;
    }
  }

  &__image {
    flex: 0.7;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    h5 {
      color: #145026;
      font-size: 28px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .form_group {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
      }
      input {
        width: calc(100% / 2 - 1.5rem);
      }
      textarea {
        resize: none;
      }
      .submit {
        color: #145026;
        background-color: transparent;
        font-size: 1.1rem;
        padding: 1rem 2.5rem;
        font-weight: bold;
        border: 1px solid #145026;
        border-radius: 1px;
        align-self: flex-start;

        &:hover {
          color: white;
          background-color: #145026;
        }
      }
    }
  }
  .address {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    color: #2d2d2d;
    width: 100%;
    margin-top: 2rem;
    justify-content: space-between;
    &__details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: calc(100% / 2 - 2rem);
      gap: 0.5rem;
      h6 {
        font-weight: bold;
        font-size: 1.3rem;
      }
      p {
        color: #2d2d2d;
        font-size: 0.8rem;
      }
    }
  }
}
