.our_selection {
  padding-top: 10rem;
  padding-inline: 2.5rem;
  @media (max-width: 575.98px) {
    padding: 4rem 1rem 0;
  }
  &__hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../../../public/images/our-selection/Mask\ Group\ 5@2x.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    justify-content: center;
    position: relative;
    h4,
    p {
      color: white;
    }
    h4 {
      font-size: 2.5rem;
      font-weight: 600;
      @media (max-width: 575.98px) {
        font-size: 1.5rem;
      }
    }
    p {
      margin-top: 2rem;
      max-width: 60%;
      font-size: 1.5rem;
      text-align: center;
      @media (max-width: 575.98px) {
        font-size: 1rem;
        max-width: 90%;
      }
    }
  }
}

.ceylon_tea_kinds {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #472e2d;
  margin-top: 5rem;
  margin-bottom: 5rem;
  max-width: 80%;
  margin-inline: auto;
  @media (max-width: 575.98px) {
    max-width: 100%;
  }
  h4 {
    font-size: 2rem;
  }
  .kind {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    @media (max-width: 575.98px) {
      flex-direction: column;
      gap: 1rem;
    }
    &:nth-child(odd) {
      flex-direction: row-reverse;
      @media (max-width: 575.98px) {
        flex-direction: column;
      }
    }
    &__image {
      flex: 0.8;
      text-align: center;
      img {
        width: 100%;
        height: auto;
        @media (max-width: 575.98px) {
          width: 70%;
        }
      }
    }
    &__body {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @media (max-width: 575.98px) {
        text-align: center;
      }
      h5 {
        font-weight: 600;
        color: #151515;
        font-size: 2rem;
      }
      p {
        font-size: 1.2rem;
        font-weight: 200;
      }
    }
  }
}
